@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
html {
  scroll-behavior: smooth;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #888;
    overflow-x: hidden;
    font-size: 15px;
  }

  .personal-logo img{
        width: 200px;
  }

  .first-page{
    background-color: #ff6b81;
    height: 100vh;
    
  }
  nav{
    display: flex;
    justify-content: space-around;
    align-items: center;

    
  }


  .nav-links{
    display: flex;
    list-style-type: none;
    padding: 30px;
    
  }

  .anchor{
    text-decoration: none;
    color: white;
    padding: 30px 50px;
  }

  .get-it-now{
    color: white;
    background: transparent;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 7px;
    font-size: 15px ;
    
  }

  .get-it-now:hover{
      color: #ff6b81;
      background-color: white;
      cursor: pointer;
      transition: .3s;
  }

  .anchor:hover{
    border-bottom: 2px solid white;
  }

 .text-sredina{
    display: flex;
    flex-direction: column;
    height: 70vh;
    padding: 200px;
    color: white;
 }

 .text-sredina h1{
   font-size: 40px;
   padding: 20px;
 }

 .text-sredina p{
    font-size: 15px;
    padding: 20px;
 }

 .App-store{
    width: 150px;
    padding: 15px;
    background-color: white;
    color: #ff6b81;
    border-radius: 7px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin-right: 10px;
 }

 .App-store:hover{
      background-color: black;
      color: white;
      transition: 0.5s;
 }



 .Google-play{
  width: 150px;
  padding: 15px;
  background-color: #ff6b81;
  background: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 7px;
  font-size: 15px;
  cursor: pointer;
  
 }

 .Google-play:hover{
    background-color: white;
    color: #ff6b81;
    transition: .3s;
 }

 
 .row {
    align-items: center;
    display: flex;
    padding-top: 100px;

 }
 
 .col-left{
    padding: 200px;
 }
 
 .text-sredina-naslov{
    color: white;
   
 }

 .text-sredina-naslov h1{
    font-size: 40px;
    padding-bottom: 20px;
    

 }
 .right-col img{
    width: 700px;
 }

 .btn-group{
   padding-top: 20px;
  
 }
 .text-sredina-naslov p{
      font-size: 15px;
      padding-bottom: 20px;
      
 }


 .container-text{
    justify-content: CENTER;
    align-items: center;
    text-align: center;
    padding-top: 40px;
 }


 .container-text h2{
    font-size: 15px;
    color: #ff6b81;
 }

 .container-text h1{
        color: black;
        font-size:  30px;
        padding-top: 20px;
 }

 .container-text p{
          font-size: 15px;
            padding-top: 20px;
 }

 .Feature{
  background:#f9f9f9;

 }
  
 .vsebina-vrstica{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding-top: 30px;
 }


 .card1{
  background-color: white;
 width: 25em;
 height: 14em;
 text-align: left;
 justify-content: center;
 border-radius: 10px;
 margin-bottom: 40px;
 
 }

 

 .card1 h3{
    font-size: 25px;
    color: black;
    padding-left: 20px;
 }

 .card1 p{
   font-size: 15px;
   padding-top: 10px;
   padding-left: 20px;
 }

 .card1 img{
  padding-top: 20px;
  padding-left: 20px;
 }
 
.Pricing{
   background-color: #ff6b81;

}
 
 
.Uporabniki{
   background-color: #ff6b81;
}


.uporabniki-text-container{
   color: white;
   justify-content: center;
   text-align: center;
   align-items: center;
   padding: 30px;
}

.uporabniki-text-container h1{
   font-size: 40px;
   padding: 15px;
}


.row-uporabniki{
   display: flex;
   text-align: center;
   justify-content: center;
   padding: 20px;
}

.col-uporabniki1{
   font-size: 30px;
   color: white;
   padding:  40px;
}


.Pricing{
   background-color: #f9f9f9;
   height: 70vh;
}
.row-card{
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   margin-top: 40px;
   
}


.pricing-text-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   padding: 30px;
}

.pricing-text-container h3{
   color: #ff6b81;
   font-size: 15px;
}

.pricing-text-container h1{
   font-size: 30px;
   color: black;
   padding: 10px;
}


.card-pricing{
   background-color: white;
   width: 300px;
   height: 370px;
   justify-content: center;
   text-align: left;
   padding-top: 20px;
   padding: 25px;
   border-radius: 10px;
}


.card-pricing h3{
   font-size: 20px;
   color: black;
   padding-bottom: 15px;

}

.card-pricing p{
   font-size: 15px;
   padding-top: 10px;
   padding-bottom: 10px;
   color: #888;
}

.card-pricing h2{
   color: black;
}

.Buy{
   width: 200px;
   padding: 10px;
   margin-top: 30px;
   background-color: black;
   color: white;
   cursor: pointer;
   font-size: 15px;
   border-radius: 7px;
   border: none;
   
}

.Buy:hover{
   color: white;
   background-color: #ff6b81;
   transition: .3s;
}

.card-pricing hr{
   margin-top: 10px;
}

.card-pricing h4{
   color: black;
   font: 10px;
   padding-top: 20px;
}

.Card-list{
   list-style-type: none;
   padding-top: 10px;
}

.Full-version-purchase{
   background-color: #ff6b81;
   height: 40vh;
}

.text-version-container{
   justify-content: center;
   text-align: center;
   display: flex;
   align-items: center;
   flex-direction: column;
}

.text-version-container h1{
   font-size:40px;
   color: white;
   padding-top: 30px;
}

.text-version-container p{
   font-size:15px;
   color: white;
   padding-top: 15px;
   padding-bottom: 10px;
}


.Purchase-now{
   margin-top: 30px;
   width: 160px;
   height: 60px;
   padding: 10px;
   border: none;
   font-size: 15px;
   background-color: white;
   color: #ff6b81;
   border-radius: 7px;
   cursor: pointer;
   margin-bottom: 25px;
   
}


.Purchase-now:hover{
   background-color: black;
   color: white;
}

.footer{
   background-color: #081828;
   color: white;
   height: 70vh;
}

.row-footer{
   display: flex;
   flex-direction: row;
   
}

.footer img{
   width: 200px;
   padding-bottom: 30px;
   padding-top: px;
}

.col1-footer{
   padding: 150px;
}

.col1-footer p{
   padding-bottom: 20px;
   font-size: 15px;
}


.fa{
   color: white;
   text-decoration: none;
   justify-content: space-between;
   padding-right: 15px;
   padding-top: 20px;
   
}

.fa:hover{
   color: #ff6b81;
   transition: .3s;
}
.footer-links{
   list-style-type: none;
}
.footer a{
   text-decoration: none;
   color: #f9f9f9
}

.footer a:hover{
   color: #ff6b81;
   transition: .3s;
}
.footer-links li{
   color: #f9f9f9;
}

.footer-links:hover{
   color: #ff6b81;
}


.col2-footer{
   display: flex;
   text-align: center;
   justify-content: space-evenly;
   flex-direction: column;
   padding-bottom: 30px;
   margin-left: 40px;
   margin-right: 60px;
   margin-bottom: 30px;
}

.col2-footer h4{
         font-size: 20px;
         color: white;
         padding-bottom: 15px;
}

.col2-footer a{
   color: white;

}

.col2-footer li {
   padding: 10px;
}







